package ${packageName}.controller.${moduleName}.${classname};
import lombok.Data;
import com.alibaba.fastjson.annotation.JSONField;
import cn.geoair.base.data.model.annotation.GaModel;
import cn.geoair.base.data.model.annotation.GaModelField;
import org.springframework.format.annotation.DateTimeFormat;
import com.fasterxml.jackson.annotation.JsonFormat;
import javax.validation.constraints.NotBlank;

import cn.hutool.core.bean.BeanUtil;
#foreach ($column in $columns)
    #if("$!{column.enumsName}" != "")
    import ${packageName}.model.${moduleName}.enm.${column.enumsName};
    #end
#end

/**
 * ${tableComment}对象 ${tableName}
 *
 * @author ${author}
 * @date ${datetime}
 */
@GaModel(text = "修改${tableComment}")
@Data
public class ${ClassName}UpdateVo {
    public static ${ClassName}UpdateVo empty() {
        return new ${ClassName}UpdateVo();
    }

    public ${ClassName}UpdateVo copy() {
            ${ClassName}UpdateVo copy = new ${ClassName}UpdateVo();
        BeanUtil.copyProperties(this, copy);
        return copy;
    }

    #foreach($column in $columns)
        #if($column.isPk==1)
        @NotBlank(message = "${column.columnComment}  不能为空")
        @GaModelField(text = "$column.columnComment",isID=true)
        #else
            #if($column.javaType=='Date')
            @JSONField(format = "yyyy-MM-dd HH:mm:ss")
            @DateTimeFormat(pattern = "yyyy-MM-dd HH:mm:ss")
            @JsonFormat(pattern = "yyyy-MM-dd HH:mm:ss")
            @GaModelField(text = "$column.columnComment")
            #else
                #if("$!{column.enumsName}" != "")
                @GaModelField(text = "$column.columnComment",em = ${column.enumsName}.class)
                #else
                @GaModelField(text = "$column.columnComment")
                #end
            #end
        #end
    private $column.javaType $column.javaField;
    #end


}
