package ${packageName}.dao.${moduleName};

import ${packageName}.model.${moduleName}.dto.${ClassName}Dto;
import ${packageName}.model.${moduleName}.entity.${ClassName}Po;
import ${packageName}.model.${moduleName}.seo.${ClassName}Seo;
import cn.geoair.gtc.base.gpa.dao.GiEntityDao;
import cn.geoair.gtc.base.data.page.GiPageParam;
import cn.geoair.gtc.base.data.page.GiPager;
import java.util.List;

/**
 * ${tableComment}Dao接口
 *
 * @author ${author}
 * @date ${datetime}
 */
public interface ${ClassName}Dao extends GiEntityDao<${ClassName}Po,String> {

    List<${ClassName}Dto> searchList(${ClassName}Seo ${className}Seo);


    GiPager<${ClassName}Dto> searchListPage(${ClassName}Seo ${className}Seo,GiPageParam pageParam);
}
