<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.geoair.map.dynamic.dbservice.core.mapper.dbapi.DbApiDataSourceMapper">

    <sql id="tableName">
        dbapi_datasource
    </sql>
    <sql id="condition">
        <if test="param.id != null and param.id != ''">
            AND dbapi_datasource.id = #{param.id}
        </if>
        <if test="param.name != null and param.name != ''">
            AND dbapi_datasource.name = #{param.name}
        </if>
        <if test="param.note != null and param.note != ''">
            AND dbapi_datasource.note = #{param.note}
        </if>
        <if test="param.type != null and param.type != ''">
            AND dbapi_datasource.type = #{param.type}
        </if>
        <if test="param.url != null and param.url != ''">
            AND dbapi_datasource.url = #{param.url}
        </if>
        <if test="param.username != null and param.username != ''">
            AND dbapi_datasource.username = #{param.username}
        </if>
        <if test="param.password != null and param.password != ''">
            AND dbapi_datasource.password = #{param.password}
        </if>
        <if test="param.driver != null and param.driver != ''">
            AND dbapi_datasource.driver = #{param.driver}
        </if>
        <if test="param.tableSql != null and param.tableSql != ''">
            AND dbapi_datasource.table_sql = #{param.tableSql}
        </if>
        <if test="param.createUserId != null">
            AND dbapi_datasource.create_user_id = #{param.createUserId}
        </if>
        <if test="param.createTime != null and param.createTime != ''">
            AND dbapi_datasource.create_time = #{param.createTime}
        </if>
        <if test="param.updateTime != null and param.updateTime != ''">
            AND dbapi_datasource.update_time = #{param.updateTime}
        </if>
        <if test="param.delIs != null and param.delIs != ''">
            AND dbapi_datasource.del_is = #{param.delIs}
        </if>
        <if test="param.timeCreate != null">
            AND dbapi_datasource.time_create <![CDATA[>=]]>  #{param.timeCreate,jdbcType=TIMESTAMP}
            AND dbapi_datasource.time_create <![CDATA[<=]]> date_add(#{param.timeCreate,jdbcType=TIMESTAMP},
            date_trunc('day', current_date + interval '1 day'))
        </if>
        <if test="param.timeUpdate != null">
            AND dbapi_datasource.time_update <![CDATA[>=]]>  #{param.timeUpdate,jdbcType=TIMESTAMP}
            AND dbapi_datasource.time_update <![CDATA[<=]]> date_add(#{param.timeUpdate,jdbcType=TIMESTAMP},
            date_trunc('day', current_date + interval '1 day'))
        </if>
        <if test="param.nameCreate != null and param.nameCreate != ''">
            AND dbapi_datasource.name_create = #{param.nameCreate}
        </if>
        <if test="param.nameUpdate != null and param.nameUpdate != ''">
            AND dbapi_datasource.name_update = #{param.nameUpdate}
        </if>

        <if test="param.andQueryContentIn != null and param.andQueryContentIn.length > 0">
            AND (
            <foreach collection="param.andQueryContentIn" item="str" index="index">
                row_to_json(dbapi_datasource)||'' LIKE '%'|| #{str}||'%' or
            </foreach>
            1!=1 )
        </if>

        <if test="param.andIdsIn != null and param.andIdsIn.length > 0">
            AND dbapi_datasource.id IN
            <foreach collection="param.andIdsIn" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>

        <if test="param.andIdsNotIn != null and param.andIdsNotIn.length > 0 ">
            AND dbapi_datasource.id NOT IN
            <foreach collection="param.andIdsNotIn" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>

    </sql>

    <!--   留作备用，不用刻意维护-->
    <resultMap id="BaseResultMap" type="cn.geoair.map.dynamic.dbservice.core.model.dbapi.dto.DbApiDataSourceDto">
    </resultMap>
    <sql id="fieldList">
        dbapi_datasource
        .
        name
        ,
                dbapi_datasource.note,
                dbapi_datasource.type,
                dbapi_datasource.url,
                dbapi_datasource.username,
                dbapi_datasource.password,
                dbapi_datasource.driver,
                dbapi_datasource.table_sql,
                dbapi_datasource.create_user_id,
                dbapi_datasource.create_time,
                dbapi_datasource.update_time,
                dbapi_datasource.del_is,
                dbapi_datasource.time_create,
                dbapi_datasource.time_update,
                dbapi_datasource.name_create,
                dbapi_datasource.name_update,
                dbapi_datasource.id
    </sql>

    <select id="searchList" resultType="cn.geoair.map.dynamic.dbservice.core.model.dbapi.dto.DbApiDataSourceDto">
        SELECT * FROM
        <include refid="tableName"></include>
        <where>
            1 = 1
            <include refid="condition"></include>
        </where>
    </select>

</mapper>
