package ${packageName}.model.${moduleName}.seo;

import ${packageName}.model.${moduleName}.entity.${ClassName}Po;
import com.gtc.base.data.model.annotation.GaModel;
import com.gtc.base.data.model.annotation.GaModelField;
import java.util.Date;
import cn.hutool.core.bean.BeanUtil;
/**
 * ${tableComment}(${ClassName})Seo
 *
 * @author ${author}
 * @date ${datetime}
 */
@GaModel(text = "${tableComment}SearchDto")
public class ${ClassName}Seo extends ${ClassName}Po
{
    private static final long serialVersionUID = ${time}L;

    public static ${ClassName}Seo emptySeo() {
        return new ${ClassName}Seo();
    }

    public   ${ClassName}Seo copy() {
         ${ClassName}Seo copy =   new ${ClassName}Seo();
        BeanUtil.copyProperties(this, copy);
        return copy;
    }

    @GaModelField(text = "模糊查询")
    private String[] andQueryContentIn;

#foreach ($column in $columns)
#if($column.isPk == 1)
    @GaModelField(text = "查询多个主键数据")
    private $column.javaType [] andIdsIn;

    @GaModelField(text = "查询排除多个主键数据")
    private $column.javaType [] andIdsNotIn;
#end

#if($column.javaType == 'Date')
    @GaModelField(text = "${column.columnComment}始")
    private Date ${column.javaField}Start;

    @GaModelField(text = "${column.columnComment}止")
    private Date ${column.javaField}End;
#end
#end

    public String[] getAndQueryContentIn() {
        return andQueryContentIn;
    }

    public void setAndQueryContentIn(String[] andQueryContentIn) {
        this.andQueryContentIn = andQueryContentIn;
    }

#foreach ($column in $columns)
#if(!$table.isSuperColumn($column.javaField))
#if($column.javaField.length() > 2 && $column.javaField.substring(1,2).matches("[A-Z]"))
#set($AttrName=$column.javaField)
#else
#set($AttrName=$column.javaField.substring(0,1).toUpperCase() + ${column.javaField.substring(1)})
#end
#if($column.isPk == 1)
    public void setAndIdsIn(String[] andIdsIn)
    {
        this.andIdsIn = andIdsIn;
    }

    public String[] getAndIdsIn()
    {
        return this.andIdsIn;
    }

    public void setAndIdsNotIn(String[] andIdsNotIn) {
        this.andIdsNotIn = andIdsNotIn;
    }

    public String[] getAndIdsNotIn() {
        return andIdsNotIn;
    }
#else
#if($column.javaType == 'Date')
    public void set${AttrName}Start($column.javaType ${column.javaField}Start)
    {
        this.${column.javaField}Start = ${column.javaField}Start;
    }

    public $column.javaType get${AttrName}Start()
    {
        return ${column.javaField}Start;
    }

    public void set${AttrName}End($column.javaType ${column.javaField}End)
    {
        this.${column.javaField}End = ${column.javaField}End;
    }
    public $column.javaType get${AttrName}End()
    {
        return ${column.javaField}End;
    }
#end
#end
#end
#end
}
